In [4]:
students = ['Kishore','Nandha','Surya','Venu']
print(students)

['Kishore', 'Nandha', 'Surya', 'Venu']

In [5]:
type(students)

list

In [6]:
print(students[2])

Surya

In [7]:
print(students[2].title())

Surya

In [8]:
students = ['ravi', 'raju', 'ramesh']
print(students)

['ravi', 'raju', 'ramesh']

In [9]:
type(students)

list

In [10]:
print(students[1])

raju

In [15]:
print(students[2].title())

Ramesh

In [17]:
students.append('navaneet')
print(students)

['ravi', 'raju', 'ramesh', 'navaneet']

In [18]:
print(students[2].upper())

RAMESH

In [19]:
print(students[2].lower())

ramesh

In [20]:
print(students)

['ravi', 'raju', 'ramesh', 'navaneet']

In [22]:
students[2]='Muthu'
print(students)

['ravi', 'raju', 'Muthu', 'navaneet']

In [23]:
students.insert(2,'Velu')
print(students)

['ravi', 'raju', 'Velu', 'Muthu', 'navaneet']

In [24]:
del students[2]
print(students)

['ravi', 'raju', 'Muthu', 'navaneet']